nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

nav ul li button:hover {
    background-color: #45a049;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}
footer div {
    margin-bottom: 10px;
}
footer p {
    margin: 0;
}
footer button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.general-form {
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.general-form h2 {
    margin-bottom: 20px;
}
.general-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.general-form button {
    width: 100%;
    padding: 10px;
    background: #5cb85c;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}
.general-form button:hover {
    background: #4cae4c;
}
.show-password {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.show-password input {
    width: auto;
    margin-right: 10px;
}
