<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/private_styles.css" />
        <title>Stan konta</title>
    </head>
    <body>
        {{template "navigation"}}
        <div class="slider">
            <div class="slides">
                <div class="slide active">Slajd 1</div>
                <div class="slide">Slajd 2</div>
                <div class="slide">Slajd 3</div>
            </div>
            <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
            <button class="next" onclick="changeSlide(1)">&#10095;</button>
        </div>

        <div class="inner_body">
            <h1>Stan konta</h1>
            <div class="card-visualization">
                <h2>Wizualizacja karty</h2>
            </div>

            <div class="card-controlls">
                <h3>Realizacja celu</h3>
                <div class="progress-bar">
                    <div class="progress" style="width: 40%"></div>
                </div>
                <div class="card-controlls-buttons">
                    <a href="#" class="button">Wypłać</a>
                    <a href="#" class="button">Wymień na nagrody</a>
                </div>
            </div>
        </div>

        {{template "footer"}}

        <script>
            let currentSlide = 0;

            function changeSlide(direction) {
                const slides = document.querySelectorAll(".slide");
                slides[currentSlide].classList.remove("active");
                currentSlide =
                    (currentSlide + direction + slides.length) % slides.length;
                slides[currentSlide].classList.add("active");
            }
        </script>
    </body>
</html>
