<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/private_styles.css" />
        <title>Nagrody</title>
    </head>
    <body>
        {{template "navigation"}}
        <div class="inner_body">
            <h1>Nagrody</h1>

            <div class="prizes-container">

                <div class="prize-tile">
                    <h2>Prize 1</h2>
                    <p>Description for prize 1.</p>
                </div>
                <div class="prize-tile">
                    <h2>Prize 2</h2>
                    <p>Description for prize 2.</p>
                </div>
                <div class="prize-tile">
                    <h2>Prize 3</h2>
                    <p>Description for prize 3.</p>
                </div>
                <div class="prize-tile">
                    <h2>Prize 3</h2>
                    <p>Description for prize 3.</p>
                </div>
                <div class="prize-tile">
                    <h2>Prize 3</h2>
                    <p>Description for prize 3.</p>
                </div>
                <div class="prize-tile">
                    <h2>Prize 3</h2>
                    <p>Description for prize 3.</p>
                </div>

            </div>
        </div>
        {{template "footer"}}
    </body>
</html>
