<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/private_styles.css" />
        <title>Zasady</title>
    </head>
    <body>
        {{template "navigation"}}
        <div class="inner_body">
            <div class="slider">
                <div class="slides">
                    <div class="slide active">Slajd 1</div>
                    <div class="slide">Slajd 2</div>
                    <div class="slide">Slajd 3</div>
                </div>
                <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
                <button class="next" onclick="changeSlide(1)">&#10095;</button>
            </div>
            <h1>Zasady</h1>
            <ul>
                <li>bonus gwarantowany 3% od obrotu</li>
                <li>bonus extra 1% od wskazanych produktów</li>
            </ul>
        </div>
        {{template "footer"}}
    </body>
</html>
